@{
    Layout = "~/Modules/Shares/Views/_Layout.cshtml";
    ViewData["Title"] = "Page Not Found";
     <link rel="icon" href="~/assets/product/img/favicon.png">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/assets/product/css/bootstrap.min.css">
    <!-- animate CSS -->
    <link rel="stylesheet" href="~/assets/product/css/animate.css">
    <!-- owl carousel CSS -->
    <link rel="stylesheet" href="~/assets/product/css/owl.carousel.min.css">
    <!-- nice select CSS -->
    <link rel="stylesheet" href="~/assets/product/css/nice-select.css">
    <!-- font awesome CSS -->
    <link rel="stylesheet" href="~/assets/product/css/all.css">
    <!-- flaticon CSS -->
    <link rel="stylesheet" href="~/assets/product/css/flaticon.css">
    <link rel="stylesheet" href="~/assets/product/css/themify-icons.css">
    <!-- font awesome CSS -->
    <link rel="stylesheet" href="~/assets/product/css/magnific-popup.css">
    <!-- swiper CSS -->
    <link rel="stylesheet" href="~/assets/product/css/slick.css">
    <link rel="stylesheet" href="~/assets/product/css/price_rangs.css">
    <!-- style CSS -->
    <link rel="stylesheet" href="~/assets/product/css/style.css">
}

<section class="breadcrumb breadcrumb_bg">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="breadcrumb_iner">
                    <div class="breadcrumb_iner_item">
                        <h2>Home</h2>
                        <p>Home <span>-</span> Not Found</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="error_area section_padding">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="error_text text-center">
                        <h1 style="color: red;">404</h1>
                        <h2 style="color: red;">Sorry! Page not found</h2>
                        <p>The page you are looking for might have been removed had its name changed or is temporarily unavailable.</p>
                        <a href="/" class="btn_3">Go to home page</a>
                </div>
            </div>  
        </div>
    </div>
</section>
